@import "tailwindcss";

@plugin "./hero-theme.ts";
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-mono:
    "Cascadia Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.color-tst {
  transition-property: background-color, color, border-color;
  transition-duration: var(--default-transition-duration);
}

@layer utilities {
  .\!color-tst,
  .\!color-tst-grandchild > div > div {
    transition-property: background-color, color, border-color;
    transition-duration: var(--default-transition-duration) !important;
  }
}

.line-number-rows {
  counter-reset: linenumber;
}

.line-number-rows > span::before {
  content: counter(linenumber);
  counter-increment: linenumber;
  display: block;
  text-align: right;
  padding-right: 0.5em;
}

/* we need some hacks to handle elements outside render root, e.g. popovers */
/* see https://github.com/heroui-inc/heroui/issues/4571 */
.dark,
.light {
  color: hsl(var(--heroui-foreground));
  background-color: hsl(var(--heroui-background));
}

/* https://stackoverflow.com/questions/43492826/why-does-the-browser-not-render-a-line-break-caused-by-a-trailing-newline-charac */
pre::after {
  content: "\A";
}
